

<!-- <div class="myImage" style="background:url('public/images/velo.jpg'); filter: brightness(50%); background-size:100%; height:500px; color:black"; >
-->



 <!-- id serial4 primary key,
 sport VARCHAR(255),
 name VARCHAR(255),
 gold VARCHAR(255),
 Silver VARCHAR(255),
 bronze VARCHAR(255)
-->
<!-- <form HEIGHT="100%"> -->
<!-- <div class="my-container"> -->

<form action="/events/<%= @event.id %>" method="post">

  <table  BORDER="0" WIDTH="100%">
    <TD WIDTH="30%" VALIGN="TOP">
      <h1>  Event</h1>
      <label for="sport">Sport:</label> 
      <input type="text" name="sport" value="<%= @event.sport %>"><P><P>
      <label for="name">Event Name:</label> 
      <input type="text" name="name" value="<%= @event.name %>"><P><P>   
      <label for="gold">Gold:</label> 
      <input type="text" name="gold" value="<%= @event.gold %>"><P><P>
      <label for="silver">Silver:</label>
      <input type="text" name="silver" value="<%= @event.silver %>"><P><P>
      <label for="bronze">Bronze:</label>
      <input type="text" name="bronze" value="<%= @event.bronze %>"><P><P>
      <input type='submit' value="Save Event"></TD>
      <TD WIDTH="30%"></TD> 
      <TD>
        <img src="/sports/sports_collage.jpg" HEIGHT="600"></TD>
      </table>

    </form>


    